HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

######################
######   Maven  ######
######################

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!**/src/main/**/target/
!**/src/test/**/target/
!/.mvn/wrapper/maven-wrapper.jar

### VS Code ###
.vscode/

/src/main/resources/frontend/node_modules
/src/main/resources/frontend/build